/**
 * Copyright © 2017 KingTopWare Corporation. All rights reserved.
 *
 * @title: main
 * @prject: 
 * @description: 说明文件的功能--请后续修改
 * @author: ChiRong
 * @date: 2017/4/25
 * @version: v1.0
 * @modify: 说明对该文件的修改内容、修改原因以及修改日期--请后续修改
 */

/*-- Start Tool Container --*/
h1 {color: silver;}  /* 0,0,0,1 */
h1 {background: black;}  /* 0,0,0,1 */
h2.section {color: silver;}  /* 0,0,1,1 */
h2.section {background: black;}  /* 0,0,1,1 */
h1 + p {color: black; font-style: italic;}  /* 0,0,0,2 */
p {color: gray; background: white; font-style: normal;}  /* 0,0,0,1 */
*.aside {color: black; background: silver;}  /* 0,0,1,0 */
/*-- End Tool Container --*/